.container {
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

span > b {
  background-color: rgb(53, 136, 192);
  padding: 10px 20px;
  color: #ffffff;
  border-radius: 5px;
  position: relative;
}

a:hover,
a:visited,
a:link,
a:active {
  text-decoration: none;
}

.badge {
  background-color: black;
  color: white;
  padding: 5px 10px;
  border-radius: 50%;
  position: relative;
  top: -15px;
  left: -20px;
}
